# Solana
SOLANA_RPC_URL=https://api.devnet.solana.com
SOLANA_NETWORK=devnet

# Anchor wallet path
ANCHOR_WALLET=~/.config/solana/id.json

# Program IDs (deployed to devnet 2026-04-22)
ESCROW_PROGRAM_ID=CNUWqYhXPXszPuB8psqG2VSnwCXf1MWzT4Pztp4y8fgj
REGISTRY_PROGRAM_ID=EM1FgSzfS3F7cCYJWhUaqqPAK7ijZYpYRx7pzYkuyExz
LOYALTY_PROGRAM_ID=BnnUntqkUadZ2BsW8j675P9hJQV3aqVcmt4xG4xfeoM8

# Token program
TOKEN_PROGRAM_ID=FRKTkNq5sGhCVr3QLUwMGaznMaCvGkzNFbPmHd6XbC4q

# Treasury
TREASURY_WALLET=BiP5PJuUiXPYCFx98RMCGCnRhdUVrkxSke9C6y2ZohQ9
